@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Serif:opsz,wght@8..144,500&display=swap');

:root{
  --selected-theme-background-color: var(--dark-theme-background-color);
  --selected-theme-main-color-dark: var(--dark-theme-main-color-dark);
  --selected-theme-main-color-normal: var(--dark-theme-main-color-normal);
  --selected-theme-main-color-light: var(--dark-theme-main-color-light);
  --selected-theme-sub-text-color: var(--dark-theme-sub-text-color);
  --selected-theme-header-background-color: var(--dark-theme-header-background-color);

  /* Dark Theme Colors */
  --dark-theme-background-color: #1d1d1d;
  --dark-theme-main-color-dark: #0288d1;
  --dark-theme-main-color-normal: #03a9f4;
  --dark-theme-main-color-light: #4fc3f7; 
  --dark-theme-sub-text-color: #fff;
  --dark-theme-header-background-color: #181818;

  --font-base: "Roboto Slab", serif
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background: var(--selected-theme-background-color);
  height: 100%;
}

#root{
  height: 100%;
}